# Explore cluster created by our model

In [9]:
import os
import geopandas as gpd

In [10]:
cluster_points = "../prod/model/cluster_points.geojson"
gdf = gpd.read_file(cluster_points)

gdf["cluster"].unique()

array([ 0,  1,  2,  3,  4,  5,  6, -1,  7,  8, 34,  9, 28, 10, 11, 12, 23,
       13, 14, 15, 16, 31, 17, 18, 29, 19, 20, 21, 27, 25, 24, 22, 30, 26,
       32, 33, 35])

In [11]:
gdf.shape

(4480, 5)

In [20]:
mask_little = gdf["cluster"].isin([-1, 0, 1, 2, 4, 5, 6, 8, 12, 15])
gdf_mask = gdf[~mask_little]

gdf_mask.groupby(["cluster"]).count()

         lat  long  catv  geometry
cluster
3         25    25    25        25
7         25    25    25        25
9         40    40    40        40
10        17    17    17        17
11        11    11    11        11
13        22    22    22        22
14         8     8     8         8
16        14    14    14        14
17         8     8     8         8
18         5     5     5         5
19        30    30    30        30
20         5     5     5         5
21        15    15    15        15
22         7     7     7         7
23        14    14    14        14
24        18    18    18        18
25        23    23    23        23
26         5     5     5         5
27        15    15    15        15
28         7     7     7         7
29        14    14    14        14
30         6     6     6         6
31        13    13    13        13
32         5     5     5         5
33         6     6     6         6
34         6     6     6         6
35         5     5     5         5

In [15]:
gdf.groupby(["cluster"]).count()

         lat  long  catv  geometry
cluster
-1       206   206   206       206
 0       841   841   841       841
 1       695   695   695       695
 2       808   808   808       808
 3        25    25    25        25
 4       761   761   761       761
 5       154   154   154       154
 6       137   137   137       137
 7        25    25    25        25
 8       214   214   214       214
 9        40    40    40        40
 10       17    17    17        17
 11       11    11    11        11
 12      119   119   119       119
 13       22    22    22        22
 14        8     8     8         8
 15      176   176   176       176
 16       14    14    14        14
 17        8     8     8         8
 18        5     5     5         5
 19       30    30    30        30
 20        5     5     5         5
 21       15    15    15        15
 22        7     7     7         7
 23       14    14    14        14
 24       18    18    18        18
 25       23    23    23        23
 26        5     5     5         5
 27       15    15    15        15
 28        7     7     7         7
 29       14    14    14        14
 30        6     6     6         6
 31       13    13    13        13
 32        5     5     5         5
 33        6     6     6         6
 34        6     6     6         6
 35        5     5     5         5

In [12]:
mask = gdf["cluster"]== 20
gdf_mask = gdf[mask]

gdf_mask.shape

(5, 5)

In [13]:
mask = gdf["cluster"]== 0
gdf_mask = gdf[mask]

gdf_mask.shape

(841, 5)