# 2R - da : Preprocessing
**da** represents all step about data analysis. 
So it's about `data acquisition`, `data preprocessing` and `data visualization`.

### Purpose 
Clean dataset and export it for data-viz and data science.

### Preprocessing workflow

In [20]:
# import
import os
import numpy as np
import pandas as pd
from sklearn import metrics
from IPython.display import display

#### Explore dataset

In [21]:
# dataset files : lieux-2019, usagers-2019, vehicules-2019, caracteristiques-2019
lieux_csv = "../ds/data/raw/lieux-2019.csv"
usagers_csv = "../ds/data/raw/usagers-2019.csv"
vehicules_csv = "../ds/data/raw/vehicules-2019.csv"
carac_csv = "../ds/data/raw/caracteristiques-2019.csv"

In [22]:
#exploratory fucntion
def explore_dataset(dataset_file:str, log:bool = False) -> pd.DataFrame:
    """ explore dataset 

    Args : 
        - dataset_file (Str) : relative or absolute path of dataset file.
    
    return : 
        data (Dataframe)
    """

    # read dataset_file
    data_df = pd.read_csv(dataset_file,sep=';')
    
    # log
    if log : 
        # display head
        print("Dataset head :")
        display(data_df.head())

        # display shape
        print("Dataset shape :")
        display(data_df.shape)

        # display columns
        print("Dataset columns :")
        display(data_df.columns)

        # display dtype
        print("Dataset types :")
        display(data_df.dtypes)

    return data_df

In [23]:
# lieux
lieux_df = explore_dataset(lieux_csv)

# usagers
usagers_df = explore_dataset(usagers_csv)

# vehicules
vehicules_df = explore_dataset(vehicules_csv)

# caracteristiues (carac)
carac_df = explore_dataset(carac_csv)

#### Merge dataset

In [24]:
# merge dataset via 'Num_Acc' 
accidents_df = pd.merge(vehicules_df, carac_df, on = 'Num_Acc')
accidents_df.columns

Index(['Num_Acc', 'id_vehicule', 'num_veh', 'senc', 'catv', 'obs', 'obsm',
       'choc', 'manv', 'motor', 'occutc', 'jour', 'mois', 'an', 'hrmn', 'lum',
       'dep', 'com', 'agg', 'int', 'atm', 'col', 'adr', 'lat', 'long'],
      dtype='object')

In [25]:
accidents_df.head()

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,...,lum,dep,com,agg,int,atm,col,adr,lat,long
0,201900000001,138 306 524,B01,2,7,0,2,5,23,1,...,4,93,93053,1,1,1,2,AUTOROUTE A3,"48,8962100","2,4701200"
1,201900000001,138 306 525,A01,2,17,1,0,3,11,1,...,4,93,93053,1,1,1,2,AUTOROUTE A3,"48,8962100","2,4701200"
2,201900000002,138 306 523,A01,1,7,4,0,1,0,1,...,3,93,93066,1,1,1,6,AUTOROUTE A1,"48,9307000","2,3688000"
3,201900000003,138 306 520,A01,1,7,0,2,1,2,1,...,1,92,92036,1,1,1,4,AUTOROUTE A86,"48,9358718","2,3191744"
4,201900000003,138 306 521,B01,1,7,1,0,4,2,1,...,1,92,92036,1,1,1,4,AUTOROUTE A86,"48,9358718","2,3191744"

In [26]:
accidents_df.dep.value_counts()

75     9619
93     5660
13     5512
94     4853
69     4324
       ...
90       80
978      67
977      24
986      14
975       5
Name: dep, Length: 107, dtype: int64

#### Reduce dataset to doi & coi

In [27]:
# department of interest : 75
# doi : department of intrest
doi = "75"

# mask_doi
mask_doi = accidents_df["dep"] == doi

# dataframe
accidents_doi_df = accidents_df[mask_doi]

In [28]:
accidents_doi_df.columns

Index(['Num_Acc', 'id_vehicule', 'num_veh', 'senc', 'catv', 'obs', 'obsm',
       'choc', 'manv', 'motor', 'occutc', 'jour', 'mois', 'an', 'hrmn', 'lum',
       'dep', 'com', 'agg', 'int', 'atm', 'col', 'adr', 'lat', 'long'],
      dtype='object')

In [29]:
# category of interest : 2R
# coi : categories of interest
coi = [1,2,30,31,32,33,34,41,42,43,50,60,80]

# mask coi
mask_coi = accidents_doi_df.catv.isin(coi)

# dataframe
accidents_doi_coi_df = accidents_doi_df[mask_coi]

# display columns
display(accidents_doi_coi_df.catv.value_counts().index.to_list())

# head
display(accidents_doi_coi_df.head(2))

[33, 1, 30, 32, 31, 50, 43, 2, 34, 80, 60, 42, 41]

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,...,lum,dep,com,agg,int,atm,col,adr,lat,long
787,201900000473,138 305 661,B01,2,33,0,2,3,18,1,...,5,75,75117,2,4,1,3,BD PERIPHEDIQUE EXTERIEUR,"48,8830744","2,2837066"
789,201900000474,138 305 659,A01,1,33,0,2,3,1,1,...,5,75,75120,2,2,1,3,COURS DE VINCENNES,"48,8470484","2,4110571"

#### Clean final dataset

In [30]:
dataset = accidents_doi_coi_df.copy()
dataset.columns

Index(['Num_Acc', 'id_vehicule', 'num_veh', 'senc', 'catv', 'obs', 'obsm',
       'choc', 'manv', 'motor', 'occutc', 'jour', 'mois', 'an', 'hrmn', 'lum',
       'dep', 'com', 'agg', 'int', 'atm', 'col', 'adr', 'lat', 'long'],
      dtype='object')

In [31]:
# rename columns

In [32]:
# lat & lon 
dataset["lat"] = dataset["lat"].apply(lambda x : x.replace(",","."))
dataset["long"] = dataset["long"].apply(lambda x : x.replace(",","."))

# change lat & lon dtype
dataset = dataset.astype({'lat': 'float', 'long':'float'})

In [33]:
# reset_index
dataset = dataset.reset_index(drop=True)

In [34]:
# info final dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4480 entries, 0 to 4479
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Num_Acc      4480 non-null   int64
 1   id_vehicule  4480 non-null   object
 2   num_veh      4480 non-null   object
 3   senc         4480 non-null   int64
 4   catv         4480 non-null   int64
 5   obs          4480 non-null   int64
 6   obsm         4480 non-null   int64
 7   choc         4480 non-null   int64
 8   manv         4480 non-null   int64
 9   motor        4480 non-null   int64
 10  occutc       0 non-null      float64
 11  jour         4480 non-null   int64
 12  mois         4480 non-null   int64
 13  an           4480 non-null   int64
 14  hrmn         4480 non-null   object
 15  lum          4480 non-null   int64
 16  dep          4480 non-null   object
 17  com          4480 non-null   object
 18  agg          4480 non-null   int64
 19  int          4480 non-null   int64
 20  atm          4480 non-null   int64
 21  col          4480 non-null   int64
 22  adr          4479 non-null   object
 23  lat          4480 non-null   float64
 24  long         4480 non-null   float64
dtypes: float64(3), int64(16), object(6)
memory usage: 875.1+ KB

In [35]:
# export dataset
overwrite = True
dataset_csv = "../db/shared/accidents_2R_75.csv"

if not os.path.exists(dataset_csv) or overwrite==True :
    dataset.to_csv(dataset_csv)
    print(f"{dataset_csv} exported !")

else : 
    print(f"{dataset_csv} exists !")

../db/shared/accidents_2R_75.csv exported !